.about {

  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .my-image {
      img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 6px;
      }
    }

    .my-description {
     flex: 1;
     margin-left: 50px;
      .text {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 10px;
        span {
          color: $primary-color;
        }
      }

      p {
        text-align: justify;
      }

      a {
        display: inline-block;
        background: $primary-color;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 500;
        padding: 12px 36px;
        margin-top: 20px;
        border: 2px solid $primary-color;
        border-radius: 6px;
        transition: all 0.3s ease;

        &:hover {
          color: $primary-color;
          background: none;
        }
      }
    }
  }
}
