.home {
  display: flex;
  background: url("./../images/bg.png") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  
  .text-1 {
    font-size: 2.7rem;
  }

  .text-2 {
    font-size: 7.5rem;
    font-weight: 600;
    margin-left: -3px;
  }

  .text-3 {
    font-size: 4rem;
    margin: 5px 0; 
    span {
      color: $primary-color;
    }
  }

  .home-content {
    margin: 150px 0 0 20px;
    a {
      display: inline-block;
      background: $primary-color;
      color: #fff;
      font-size: 2.5rem;
      padding: 12px 36px;
      margin-top: 20px;
      border: 2px solid $primary-color;
      border-radius: 6px;
      transition: all 0.3s ease;

      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}

@media (max-width: 1104px) {
  .home {
    .max-width {
      margin-left: 0px;
    }
  }
}

@media (max-width: 947px) {
  .home {
    .text-2 {
     font-size: 7rem;
    }
  
    .text-3 {
      font-size: 3.5rem;
    }

    .home-content {
      a {
        font-size: 2.3rem;
        padding: 10px 30px;
      }
    }
  }
}

@media (max-width: 690px) {
  .home {
    .text-2 {
     font-size: 6rem;
    }
  
    .text-3 {
      font-size: 3.2rem;
    }

    .home-content {
      a {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .home {
    .text-2 {
     font-size: 5rem;
    }
  
    .text-3 {
      font-size: 2.7rem;
    }
  }
}