.skill {
  .skill-content {
    .skill-item {
      .skill-title {
        text-align: center;
      }
      .skill-images {
        margin: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        img {
          height: 50px;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .skill {
    .skill-content {
      .skill-item {
        .skill-images {
          margin: 20px 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;
        }
      }
    }
  }
}